[package]
name = "xtask"
version = "0.1.0"
edition = "2021"
readme = "README.md"
publish = false

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
cmake = "0.1"
fs_extra = "1.3"

[[bin]]
name = "xtask"
path = "src/main.rs"