[package]
name = "xtask"
version = "0.1.0"
edition = "2021"
publish = false

[dependencies]
anyhow = "1.0"
clap = { version = "4.5", features = ["derive"] }
cc = "1.0"
xshell = "0.2"

[[bin]]
name = "xtask"
path = "src/main.rs"